name: CI

on:
  push:
    branches:
      - main
      - alpha
      - beta
  pull_request:
env:
  REGISTRY: lislon
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'
      - run: npm ci
      - uses: nrwl/nx-set-shas@v4
      - name: get next release version
        id: get-next-version
        run: npx semantic-release --dry-run
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: export APP_VERSION=${{ steps.get-next-version.outputs.new-release-version || '0.0.0-ci' }}
        # https://github.com/nrwl/nx/issues/28205
      - name: lint test build
        run: npx nx affected --targets=lint,test,build --verbose
        env:
          NX_DISABLE_DB: true
    outputs:
      new-release-published: ${{ steps.get-next-version.outputs.new-release-published }}
      new-release-version: ${{ steps.get-next-version.outputs.new-release-version }}
      new-release-git-tag: ${{ steps.get-next-version.outputs.new-release-git-tag }}

  push:
    needs: build
    if: ${{ needs.build.outputs.new-release-published == 'true' &&
      contains('refs/heads/main,refs/heads/beta,refs/heads/alpha', github.ref)
      && github.event_name == 'push' }}
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - run: echo "The new release version is ${{ needs.build.outputs.new-release-version }}"
      - name: Log into ghcr.io
        uses: docker/login-action@28fdb31ff34708d19615a74d67103ddc2ea9725c
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        id: push-step
        uses: docker/build-push-action@9e436ba9f2d7bcd1d038c8e55d039d37896ddc5d
        with:
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:v${{ needs.build.outputs.new-release-version }}
            ghcr.io/${{ github.repository }}:${{ github.ref == 'refs/heads/main' && 'latest' || 'alpha' }}
          context: .
          build-args: |
            APP_VERSION=${{ needs.build.outputs.new-release-version }}

      - name: Attest image
        uses: actions/attest-build-provenance@v3.0.0
        with:
          subject-name: ghcr.io/${{ github.repository }}
          subject-digest: ${{ steps.push-step.outputs.digest }}
          push-to-registry: true

  release:
    runs-on: ubuntu-latest
    needs: push
    permissions:
      actions: read
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'
      - run: npm ci
      - run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
